In [1]:
import numpy as np
import pandas as pd
import re

In [6]:
df = pd.read_csv('C:/202105_lab/09.ELKStack/JJJJ_Project/Movie_CSV/month/201912.csv')

df1 = df.drop(df.index[0])
df1.drop([df1.columns[0], df1.columns[1], df1.columns[4], df1.columns[5], df1.columns[7]], axis=1, inplace=True)
df1.drop([df1.columns[3], df1.columns[4], df1.columns[5], df1.columns[6], df1.columns[7]], axis=1, inplace=True)
df1['신작수'] = 0
df1['개봉일'].fillna('none', inplace=True)

df_len = len(df1['개봉일'])
print(df1['개봉일'][1])
print(df1['개봉일'][2])
print(df_len)
print('-'*30)

for idx in range(1,df_len):
    if df1['개봉일'][idx][0:7] == '2019-12':
        df1['신작수'][idx] = 1

tot = 0
for idx in range(1,df_len):
    tot += df1['신작수'][idx]

df1['신작수'][df_len] = tot

df1.drop(df1.index[0:df_len-1], inplace=True)
df1.reset_index(inplace=True)

df1.drop([df1.columns[0], df1.columns[1]], axis=1, inplace=True)
df1

2019-12-19
2019-11-21
828
------------------------------

<ipython-input-6-9efb70c243ad>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['신작수'][idx] = 1
<ipython-input-6-9efb70c243ad>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['신작수'][df_len] = tot

              매출액         관객수   신작수
0  186,644,820,812  22,464,620  186

In [8]:
df = pd.read_csv('C:/202105_lab/09.ELKStack/JJJJ_Project/Movie_CSV/month/202001.csv')

df1 = df.drop(df.index[0])
df1.drop([df1.columns[0], df1.columns[1], df1.columns[4], df1.columns[5], df1.columns[7]], axis=1, inplace=True)
df1.drop([df1.columns[3], df1.columns[4], df1.columns[5], df1.columns[6], df1.columns[7]], axis=1, inplace=True)
df1['신작수'] = 0
df1['개봉일'].fillna('none', inplace=True)

df_len = len(df1['개봉일'])
print(df_len)
print('-'*30)

for idx in range(1,df_len):
    if df1['개봉일'][idx][0:7] == '2020-01':
        df1['신작수'][idx] = 1

tot = 0
for idx in range(1,df_len):
    tot += df1['신작수'][idx]

df1['신작수'][df_len] = tot

df1.drop(df1.index[0:df_len-1], inplace=True)
df1.reset_index(inplace=True)

df1.drop([df1.columns[0], df1.columns[1]], axis=1, inplace=True)
df1

551
------------------------------

<ipython-input-8-55e6bee9fd12>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['신작수'][idx] = 1
<ipython-input-8-55e6bee9fd12>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['신작수'][df_len] = tot

              매출액         관객수   신작수
0  143,681,061,430  16,843,695  165

In [9]:
df = pd.read_csv('C:/202105_lab/09.ELKStack/JJJJ_Project/Movie_CSV/month/202002.csv')

df1 = df.drop(df.index[0])
df1.drop([df1.columns[0], df1.columns[1], df1.columns[4], df1.columns[5], df1.columns[7]], axis=1, inplace=True)
df1.drop([df1.columns[3], df1.columns[4], df1.columns[5], df1.columns[6], df1.columns[7]], axis=1, inplace=True)
df1['신작수'] = 0
df1['개봉일'].fillna('none', inplace=True)

df_len = len(df1['개봉일'])
print(df_len)
print('-'*30)

for idx in range(1,df_len):
    if df1['개봉일'][idx][0:7] == '2020-02':
        df1['신작수'][idx] = 1

tot = 0
for idx in range(1,df_len):
    tot += df1['신작수'][idx]

df1['신작수'][df_len] = tot

df1.drop(df1.index[0:df_len-1], inplace=True)
df1.reset_index(inplace=True)

df1.drop([df1.columns[0], df1.columns[1]], axis=1, inplace=True)
df1

524
------------------------------

<ipython-input-9-297dea69ec11>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['신작수'][idx] = 1
<ipython-input-9-297dea69ec11>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['신작수'][df_len] = tot

             매출액        관객수   신작수
0  62,303,647,980  7,372,370  150

In [10]:
df = pd.read_csv('C:/202105_lab/09.ELKStack/JJJJ_Project/Movie_CSV/month/202003.csv')

df1 = df.drop(df.index[0])
df1.drop([df1.columns[0], df1.columns[1], df1.columns[4], df1.columns[5], df1.columns[7]], axis=1, inplace=True)
df1.drop([df1.columns[3], df1.columns[4], df1.columns[5], df1.columns[6], df1.columns[7]], axis=1, inplace=True)
df1['신작수'] = 0
df1['개봉일'].fillna('none', inplace=True)

df_len = len(df1['개봉일'])
print(df_len)
print('-'*30)

for idx in range(1,df_len):
    if df1['개봉일'][idx][0:7] == '2020-03':
        df1['신작수'][idx] = 1

tot = 0
for idx in range(1,df_len):
    tot += df1['신작수'][idx]

df1['신작수'][df_len] = tot

df1.drop(df1.index[0:df_len-1], inplace=True)
df1.reset_index(inplace=True)

df1.drop([df1.columns[0], df1.columns[1]], axis=1, inplace=True)
df1

380
------------------------------

<ipython-input-10-4e4e698470a4>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['신작수'][idx] = 1
<ipython-input-10-4e4e698470a4>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['신작수'][df_len] = tot

             매출액        관객수   신작수
0  15,152,718,950  1,834,722  154

In [11]:
df = pd.read_csv('C:/202105_lab/09.ELKStack/JJJJ_Project/Movie_CSV/month/202004.csv')

df1 = df.drop(df.index[0])
df1.drop([df1.columns[0], df1.columns[1], df1.columns[4], df1.columns[5], df1.columns[7]], axis=1, inplace=True)
df1.drop([df1.columns[3], df1.columns[4], df1.columns[5], df1.columns[6], df1.columns[7]], axis=1, inplace=True)
df1['신작수'] = 0
df1['개봉일'].fillna('none', inplace=True)

df_len = len(df1['개봉일'])
print(df_len)
print('-'*30)

for idx in range(1,df_len):
    if df1['개봉일'][idx][0:7] == '2020-04':
        df1['신작수'][idx] = 1

tot = 0
for idx in range(1,df_len):
    tot += df1['신작수'][idx]

df1['신작수'][df_len] = tot

df1.drop(df1.index[0:df_len-1], inplace=True)
df1.reset_index(inplace=True)

df1.drop([df1.columns[0], df1.columns[1]], axis=1, inplace=True)
df1

476
------------------------------

<ipython-input-11-cedc51fdfdc1>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['신작수'][idx] = 1
<ipython-input-11-cedc51fdfdc1>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['신작수'][df_len] = tot

            매출액      관객수   신작수
0  7,515,666,040  972,572  180